.cart{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 0px;
    margin: 0px;
}

.cart-logo{
    width: 5vw;
    height: 5vh;
    margin: 30px;
    float: right;

}