/* Container styling */
.container {
    width: 100vw;
    height: 130vh;
    margin: 5px;
 
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: black;
    
  }
  
  /* Project list section */
  .project-container {
    display: flex;
    justify-content: center; 
    align-items: center;/* Centers items horizontally */
    flex-wrap: wrap; /* Ensures responsiveness */
    gap: 15px; /* Spacing between items */
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
    position: relative ;
  }
  
  /* Individual project box */
  .project {
    padding: 15px 15px;
    background-color: #ff7d00;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-weight: bold;
    min-width: 100px;
  }
  
  .project:hover {
    background-color: white;
    
  }
  
  .project h3 {
    margin: 0;
    font-size: 16px;
  }
  
  /* Selected project display */
  .sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
  }
  
  .sec-container h2 {
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .project-container {
      flex-direction: column;
      align-items: center;
    }
  
    .project {
      width: 80%;
    }
  }
  