.table{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.cell-button{
    width: 3vw;
    height: 5vh;
    border: 1px solid black;
    background-color: yellow;
    color: black;
    margin: 10px;
    
}

.multi{
    font-size: 35px;
    color: white;
}